/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* large */
@media screen and (max-width: 1200px) {
    
}


/* medium  */
@media screen and (max-width: 992px) {
    
}

/* extra-small */
@media screen and (max-width: 576px) {
    
}



